* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "~antd/dist/antd.less";
@primary-color: #282c34; // 全局主色

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

:root {
  font-size: 124%;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2bbc8a;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #2bbc8a, 0 0 5px #2bbc8a;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #2bbc8a;
  border-left-color: #2bbc8a;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

::selection {
  color: #fff;
  background-color: #212121 !important;
}

.page-divider {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 25px;

  filter: grayscale(100%) !important;
  filter: #282c32 !important;

  user-select: none !important;
}

.error-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zent-btn {
  background-color: inherit !important;
}

.container.light .zent-btn-primary {
  border: none !important;
  font-weight: bold;
}

.container.dark .page-divider {
  opacity: 0.6;
}

nav.nav-bar {
  width: 100%;
  border-bottom: 1px;
  padding: 4em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.nav {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-title {
  font-size: 2rem;
  text-align: center;
}

ul.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
}

ul.nav-list li {
  margin: 0 0.5rem;
}

a {
  text-decoration: none;
}

body {
  font-family: roborto, -apple-system, BlinkMacSystemFont, helvetica neue,
    pingfang sc, hiragino sans gb, STHeiti, microsoft yahei, wenquanyi micro hei,
    Arial, Verdana, sans-serif !important;
  font-weight: 400;
  // font-size: 20px;
  // font-size: 170%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  transition: color 0.3s;
  transition: background-color 0.3s;
}

.container,
.container.light,
.light .wrapper {
  background-color: #fff;
  color: #161209;
  font-size: 0.85rem;
  --font-color: #161209;
  --weight-color: #111;
  --code-bg: #f3f3f3;
  --divider-color: #f3f3f3;
  --bg-color: #fff;
  --font-color: #161209;
}

.container.dark,
.dark .wrapper {
  background-color: #282c32;
  color: #a9a9b3;
  --font-color: #a9a9b3 !important;
  --weight-color: #a9a9b3;
  --divider-color: #22262b;
  --code-bg: #191c20;
}

li {
  display: inline;
}

.container.dark {
  // .nav-title,
  // .ant-pagination-item-container i,
  // .ant-pagination-item-active a {
  //   color: #2bbc8a;
  // }

  /*   .ant-pagination-item {
    background-color: inherit !important;
  }

  .ant-pagination-item {
    border: none;
  }

  .ant-pagination-item-active {
    border: 1px solid #bbb6b6;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
    background-color: inherit;
  } */

  a {
    color: #a9a9b3;
  }

  a:hover {
    color: #2bbc8a;
  }

  a:active {
    color: #1f8863;
  }
}

.container.light,
.container {
  a {
    color: #161209;
  }

  a:hover {
    color: #444;
  }

  a:active {
    color: #111;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .block {
    width: 100%;
    max-width: 768px;
    overflow: hidden;
    padding: 0 2rem;
  }
}

.article-item {
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 2.2rem;

  a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  div.brief {
    flex-shrink: 0;
    padding-left: 2rem;
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .article-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    line-height: 1.8rem;
    margin-bottom: 1rem;

    a {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    div.brief {
      opacity: 0.8;
      margin: 0.4rem 0;
      padding: 0;
    }
  }

  :root {
    font-size: 100% !important;
  }

  .wrapper {
    .block {
      width: 100%;
      max-width: 768px;
      overflow: hidden;
      padding: 0 1.2rem !important;
    }
  }
}

footer {
  cursor: default;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bottom-bar {
  margin: 2rem 0 2rem 0;
  opacity: 0;
  padding-top: 2rem;
}

pre {
  margin: 0 !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.error-page div {
  background: inherit !important;
}

.article-list,
.article {
  min-height: 20rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--weight-color) !important;
}

table td,
table th {
  padding: 6px 13px;
  white-space: nowrap;
  border: 1px solid var(--divider-color);
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  word-wrap: normal;
  word-break: normal;

  margin: 1rem 0 2rem 0;
}

code {
  display: inline-block !important;
  padding: 1rem !important;
  width: 100%;
  /*    word-wrap: break-word;
word-break: break-all;
overflow-wrap: break-word; */
  overflow-x: auto !important;

  background-color: var(--code-bg, "#515151") !important;
  border-radius: 4px;
  margin: 1rem 0;
  line-height: 1.2rem;
  white-space: pre;

  span {
    white-space: pre;
  }
}

article {
  font-family: "Merriweather", "Georgia", serif, roborto, -apple-system,
    BlinkMacSystemFont, helvetica neue, pingfang sc, hiragino sans gb, STHeiti,
    microsoft yahei, wenquanyi micro hei, Arial, Verdana, sans-serif !important;

  line-height: 1.6rem;
  font-size: 0.85rem;

  block.title {
    display: block;
    margin-bottom: 4rem;
    h1 {
      border-bottom: none !important;
      font-weight: 700 !important;
      padding-bottom: 0 !important;
      line-height: 1.3 !important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: roborto, -apple-system, BlinkMacSystemFont, helvetica neue,
      pingfang sc, hiragino sans gb, STHeiti, microsoft yahei,
      wenquanyi micro hei, Arial, Verdana, sans-serif;
    line-height: 2.2;
  }
}

article {
  .article-box {
    opacity: 0;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }

  ol li {
    display: block;
  }

  ul li {
    display: list-item;
    text-decoration: dotted;
    margin-left: 1rem;
  }

  a {
    border-bottom: 1px dashed var(--font-color);
  }

  h1 {
    font-size: 1.6rem;
    margin: 0.8rem 0;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0.7rem 0;
  }

  h2:before {
    content: "#";
    margin-right: 5px;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0.6rem 0;
  }

  h4 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  h5 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  h1,
  h2 {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--divider-color, #22262b);
  }

  hr {
    /*     box-sizing: content-box;
    height: 0;
    overflow: visible; */
    color: var(--divider-color) !important;
    background-color: var(--divider-color) !important;
    width: 100%;
    height: 1px;
    border: none !important;
    margin: 1rem 0;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1rem;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp {
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco,
      Consolas, monospace;
    font-size: 0.75rem;
  }

  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25rem;
  }
  sup {
    top: -0.5rem;
  }
  img {
    border-style: none;
    border-radius: 4px;
  }

  @media img and (max-width: 100px) {
    border-radius: 0;
  }
}

.small-divider li {
  margin: 0 0.3rem !important;
  opacity: 0.9 !important;
}

.archive {
  ul {
    .article-item {
      opacity: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      line-height: 2.2rem;

      li.archive-item {
        text-decoration: dotted;
        margin-left: 1rem;
        // opacity: 0;
        // width: 100%;
        display: list-item;
        // line-height: 2.2rem;

        a {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }

      div.brief {
        flex-shrink: 0;
        padding-left: 2rem;
        opacity: 0.8;
      }
    }
  }
}
